/* src/components/FeatureSection.css */

.feature-section {
    width: 100vw;
    text-align: center;
    background: url(./Images/bgWhyAI.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    padding-bottom: 80px;
    font-family: "Poppins", sans-serif;
    
  }
  
  .feature-section h1 {
    margin-left: 25%;
    width: 807px;
    height: 205px;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
    max-width: 100vw;
  }
  
  .feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 347px;
    height: 215px;
    background: linear-gradient(180deg, #DB00FF 0%, #9747FF 100%);
    border-radius: 14.23px;
    border: 1.19px solid transparent;
    transition: transform 0.3s, border-color 0.3s;
    position: relative;
  }
  
  .feature-card p {
    margin-top: 30px;
    font-family: "Manrope", sans-serif;
    font-size: 16.6px;
    font-weight: 400;
    line-height: 19.92px;
    text-align: center;
  }
  
  .feature-card h2 {
    font-family: "Manrope", sans-serif;
    font-size: 17.78px;
    font-weight: 600;
    line-height: 21.34px;
  }
  
  .feature-card:hover {
    border-color: transparent;
  }

  .feature-card::before {
    content: '';
    position: absolute;
    top: -1.19px;
    right: -1.19px;
    bottom: -1.19px;
    left: -1.19px;
    border-radius: 14.23px; 
    border: 5px solid transparent; 
    transition: border-color 0.3s; 
  }
  
  .feature-card:hover::before {
    border-color: white; 
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .feature-section h1 {
      margin-left: 10%;
      width: auto;
      font-size: 40px;
      line-height: 48px;
    }
  }
  
  @media (max-width: 768px) {
    .feature-section {
        h1{
            font-size: 32px;
            line-height: 40px;
            height: 80px;
            margin-left: 2%;
        }

    }
  }
  
  @media (max-width: 480px) {
    .feature-section{
        h1{
            margin-left: 0%;
            font-size: 28px;
            line-height: 36px;
            height: 70px;
        }
        padding-bottom: 20px;
    }

    .features{
        gap: 30px;
    }
  
    .feature-card {
      width: 90%;
    }
  }
  